<jce-spinner [visible]="isLoading"></jce-spinner>
<div>
  <ul class = "list-group products" >
    <li *ngFor = "let product of products" 
    [class.active]= "currentProduct == product" 
    (click) = "select(product)"
    class = "list-group-item" >
      <jce-product [product] = "product"
        </ul>
</div>